/* init */
body {
    font-family: "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB", sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@media (min-width: 1280px) {
    html {
        font-size: 18px;
    }
}

@media (min-width: 1600px) {
    html {
        font-size: 20px;
    }
}

@media (min-width: 2400px) {
    html {
        font-size: 28px;
    }
}

/* menu */
.y-menu {
    width: calc(100vw - 0.4rem);
    height: 4rem;
    position: fixed;
    z-index: 1;
    padding-left: 7rem;
    /* resp */
    padding-right: 7rem;
    /* resp */
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #777;
    background-color: white;

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;

    transition: all 0.2s;
}

.y-menu-hide {
    z-index: -1;
    opacity: 0;
}

/* logo */
.y-menu-logo {
    cursor: pointer;
    transition: all 0.2s;
    transform: scale(1);
}

.y-menu-logo:hover {

    transform: scale(1.2);
}

.y-menu-logo a {
    color: initial;
    text-decoration: none;
}

.y-menu-logo,
.y-menu-links {
    display: inline-block;
}

.y-menu-logo-img {
    width: 4rem;
    height: 4rem;
    padding: 0 0;
    /* border-radius: 0.2rem; */
    vertical-align: middle;
    display: inline;
    user-drag: none;
    -webkit-user-drag: none;
}

.y-menu-ptitle {
    font-size: 2rem;
    font-weight: 300;
    vertical-align: middle;
    user-select: none;
}

@media (max-width: 1024px) {
    .y-menu {
        padding: 3rem;
    }

    .y-menu-ptitle {
        font-size: 1.5rem;
    }
}

@media (max-width: 768px) {
    .y-menu {
        padding: 0;
    }

    .y-menu-logo {
        margin: 0 auto;
    }

    .y-menu-logo-img {
        width: 3rem;
        height: 3rem;

    }

    .y-menu-ptitle {
        font-size: 1.2rem;
    }
}

/* link */
.y-menu-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media (max-width: 768px) {
    .y-menu-links {
        display: none;
    }
}

.y-menu-links a {
    font-size: 1.2rem;
    color: #676b6b;
    padding: 1rem 1.1rem;
    text-decoration: none;
    text-align: center;
    transition: all 0.5s;
}

.y-menu-links a:hover,
a.y-menu-links-active {
    transform: scale(1.2);
    text-shadow: 0 0 1rem #87CEEB;
}

a.y-menu-links-active {
    color: #4169E1;
}

/* container */
body,
html,
#y-container {
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}

#y-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}


#y-container::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.3rem;
    background-color: #eee;
}

#y-container::-webkit-scrollbar-thumb {
    background: #aaa;
}

/* section */
.y-section {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 4rem;
    /* margin-top: 20rem; */
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

/* section 1 */

#y-s1 {
    background-image: url(../img/bg_star_2.png);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#y-s1-1 {
    width: 100%;
    height: 50%;
    position: relative;
}

.y-center {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 5rem;
    right: 0;
    left: 0;
    margin: 0 auto;
    user-select: none;
}

/* logo */
.y-logo {
    padding-right: 1rem;
}

.y-logo-img {
    width: 10rem;
    height: 10rem;
    /* resp */
    padding: 0 0;
    border-radius: 3rem;
    margin-right: 2rem;
    vertical-align: middle;
    display: inline;
    user-drag: none;
    -webkit-user-drag: none;
}

@media (max-width: 1024px) {
    .y-logo-img {
        width: 8rem;
        height: 8rem;
        margin-right: 1rem;
    }
}

@media (max-width: 768px) {
    .y-logo {
        padding-right: 0;
    }

    .y-logo-img {
        width: 6rem;
        height: 6rem;
        margin-right: 0.5rem;
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.y-rorate {
    animation: rotation 10s linear infinite;
}

.y-rorate.y-paused {
    animation-play-state: paused;
}

/* ptitle */
.y-ptitle {
    display: inline;
    font-size: 4.5rem;
    /* resp */
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .y-ptitle {
        font-size: 2.5rem;
        /* resp */
    }
}

/* social */
.y-social {
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.y-social a {
    text-decoration: none;
    color: #e9686b;
    font-weight: 400;
    transition: all 0.5s;
    padding: 0 .2rem;
}

.y-social a:hover {
    color: #ffc7c8;
}

.y-social-text {
    vertical-align: middle;
}

@media (max-width: 1024px) {
    .y-social-text {
        display: none;
    }
}

.y-icon-svg {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
}

/* tags */

#y-s1-2 {
    width: 100%;
    height: 50%;
    position: relative;
}

.y-tags {
    width: calc(100% - 10rem);
    height: fit-content;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* resp */
    margin: 0 auto;
}

@media (max-width: 768px) {
    .y-tags {
        grid-template-columns: 1fr;
        /* resp */
    }
}

.y-tag {
    font-family: "幼圆";
    font-size: 4rem;
    font-weight: 400;
    margin: 0 auto;
}

.y-tag a {
    text-decoration: none;
    color: #4169E1;
    transition: all 0.2s;
}

.y-tag a:hover {
    text-shadow: 0 0 1rem #87CEEB;
}

@keyframes swing {
    from {
        font-size: 4rem;
    }

    to {
        font-size: 6rem;
    }
}

@media (max-width: 1280px) {
    @keyframes swing {
        from {
            font-size: 3rem;
        }

        to {
            font-size: 5rem;
        }
    }
}

@media (max-width: 768px) {
    @keyframes swing {
        from {
            font-size: 2rem;
        }

        to {
            font-size: 3rem;
        }
    }
}

.y-tag a {
    animation: swing 5s ease-in-out infinite alternate-reverse;
    animation-play-state: running;
}

.y-tag a:hover {
    animation-play-state: paused;
}

/* section 2 */

#y-s2 {
    display: flex;
    justify-content: center;
    position: relative;
}

#y-s2::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-image: url(../img/music_note.png);
    opacity: 0.05;
    background-position: center;
    background-attachment: fixed;
    background-size: 20rem;
    background-repeat: repeat;
}

.y-container-m {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 2rem 10rem;
    /* padding-top: 0; */
    /* resp */
    display: flex;
    flex-direction: column;
}

@media (max-width: 1280px) {
    .y-container-m {
        padding: 2rem 8rem;
    }
}

@media (max-width: 1024px) {
    .y-container-m {
        padding: 2rem 5rem;
    }
}

@media (max-width: 768px) {
    .y-container-m {
        padding: 1rem 2rem;
    }
}

/* s2-tab1 */

.y-tab-content {
    overflow: hidden;
    box-sizing: border-box;
    padding: 1rem;
    border: 1px solid #676b6b;
    flex-grow: 1;
    /* margin-bottom: 1rem; */
}

@media (max-width: 768px) {
    .y-tab-content {
        margin-bottom: 0;
    }
}

.y-tab-card-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.y-tab-menu {
    display: flex;
}

.y-tab-menu-s {
    padding: 1rem;
    /* border: 2px solid #676b6b; */
    margin-right: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.y-tab-menu a {
    font-family: '仿宋', '宋体', serif;
    font-size: 3rem;
    color: #000;
    text-align: center;
    text-decoration: none;
    transition: all 0.5s;
}


@media (max-width: 768px) {
    .y-tab-menu a {
        font-size: 2rem;
    }
}

.y-tab-menu-s-active a,
.y-tab-menu a:hover {
    text-shadow: 0 0 1rem #87CEEB;
}

.y-tab-menu-s-active a {
    color: #4169E1;
}

.y-tab-title {
    margin: 0.2rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e9686b;
}

.y-card-container {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.y-card-container::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.3rem;
    background-color: #eee;
}

.y-card-container::-webkit-scrollbar-thumb {
    background: #aaa;
}

.y-card {
    flex-shrink: 0;
    /* margin-right: 0.5rem; */
}

.y-card-img {
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    transition: all 2s;
}

.y-card-img:hover {
    box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.y-card-img img {
    object-fit: cover;
    width: 100%;
    position: relative;
    transition: all 0.5s;
    transform: scale(1);
}

.y-card-img img:hover {
    transform: scale(1.3);

}

.y-card-text {
    width: 8rem;
    height: 2rem;
    padding: 0.1rem 0;
    font-family: "等线", "微软雅黑", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    word-break: break-all;
}

@media (max-height: 860px) {
    .y-card-text {
        width: 6rem;
        font-size: 0.7rem;
    }
}

/* s2-tab2 */

.y-card2-container {
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* resp */
    row-gap: 1rem;
}

@media (max-width: 1024px) {
    .y-card2-container {
        grid-template-columns: 1fr;
        /* resp */
    }
}

.y-card2-container::-webkit-scrollbar {
    width: 0.2rem;
    height: 0.3rem;
    background-color: #eee;
}

.y-card2-container::-webkit-scrollbar-thumb {
    background: #aaa;
}

.y-card2 {
    display: flex;
    flex-direction: row;
}

.y-card2-img,
.y-card2-text {
    flex: 0 1 50%;
}

.y-card2-img img {
    object-fit: cover;
    width: 100%;
    position: relative;
    /* border-radius: 1rem; */
    transition: all 0.5s;
    transform: scale(1);
}

.y-card2-text {
    margin-left: 1.5rem;
}

.y-card2-text p {
    margin: 0.2rem 0;
}

p.y-card2-title {
    margin: 0.2rem 0;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e9686b;
}

.y-card2-text a {
    color: #000;
    text-decoration: none;
    transition: all 0.5s;
}

.y-card2-text a:hover {
    color: #4169E1;
    text-shadow: 0 0 1rem #87CEEB;
}

.y-tab2-title {
    margin: 0.2rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: #e9686b;
}

/* s2-tab3 */

/* section 3 */

#y-s3 {
    position: relative;
}

.y-s3-tab-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.y-s3-tab {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#y-s3-t1 {
    background-image: url(../img/summonersrift.jpg);
    background-position: center;
    background-size: cover;
}

.y-container-l {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 5rem 10rem;

}

@media (max-width: 1280px) {
    .y-container-l {
        padding: 2rem 4rem;
    }
}

@media (max-width: 1024px) {
    .y-container-l {
        padding: 2rem 3rem;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .y-container-l {
        padding: 1rem 2rem;
    }
}

.y-s3-logo {
    /* padding-top: 5rem; */
    text-align: center;
}

.y-s3-logo img {
    width: 40vw;
    transition: all 0.5s;
    transform: scale(1);
}

.y-s3-logo img:hover {
    transform: scale(1.2);

}

.y-s3-text {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    flex-direction: column;
}

.y-s3-t1-title {
    padding-left: 3rem;
    font-size: 2rem;
    color: #fff5e0;
    text-shadow: 0 0 0.5rem #87CEEB;
}

.y-s3-t1-cc {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    .y-s3-t1-cc {
        justify-content: center;
    }
}

.y-s3-t1-c {
    margin: 1rem;
}

.y-s3-t1-c img {
    width: 5rem;
    border-radius: 5rem;
    box-shadow: 0 0 0.5rem #87CEEB;
    transition: all 0.5s;
    transform: scale(1);
}

@media (max-width: 1280px) {
    .y-s3-t1-c img {
        width: 4.5rem;
        border-radius: 4.5rem;
    }
}

@media (max-width: 1024px) {
    .y-s3-t1-c img {
        width: 4rem;
        border-radius: 4rem;
    }
}

@media (max-width: 768px) {
    .y-s3-t1-c img {
        width: 3.5rem;
        border-radius: 3.5rem;
    }
}

.y-s3-t1-c img:hover {
    /* width: 6rem; */
    /* border-radius: 6rem; */
    transform: scale(1.5);
    box-shadow: 0 0 1rem #87CEEB;
}

.y-s3-t1-c p {
    background-color: #000;
    text-align: center;
    color: #fff5e0;
    box-shadow: 0 0 0.5rem #87CEEB;
}

/* section 4 */


#y-s4 {
    background-image: url(../img/bg_star.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat;
    background-size: 60rem;
}

.y-s4-container {
    width: 100%;
    height: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 5vw 10rem;
}


@media (max-width: 1280px) {
    .y-s4-container {
        padding: 5vw 6rem;
    }
}

@media (max-width: 1024px) {
    .y-s4-container {
        padding: 5vw 4rem;
    }
}

@media (max-width: 768px) {
    .y-s4-container {
        padding: 1rem 2rem;
        flex-direction: column;
    }
}


.y-s4-c2 {
    width: 60%;
    flex-basis: 60%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

@media (max-width: 768px) {
    .y-s4-c2 {
        width: 100%;
        flex-basis: 50%;
    }
}

.y-s4-img {
    /* resp */
    position: relative;
    width: 40vw;
    /* resp */
    border: 5px solid #708de4;
    border-radius: 5px;
    box-shadow: 0 0 1rem #87CEEB;
    z-index: 1;
    transform: scale(1);
    transition: all 1s;
    overflow: hidden;
}

@media (max-width: 768px) {
    .y-s4-img {
        width: 80vw;
    }
}


.y-s4-img img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.y-s4-img:hover {
    transform: scale(1.2);
}


.y-s4-tab-container {
    margin-top: 1rem;
    margin-bottom: 5rem;
    margin-right: 3rem;
    max-width: 100%;
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 768px) {
    .y-s4-tab-container {
        margin-bottom: 1rem;
        margin-right: 1rem;
    }
}

.y-s4-tab {
    position: relative;
    width: 12vw;
    margin-right: 0.5rem;
    /* box-sizing: content-box; */
    border: 2px solid rgba(0, 0, 0, 0);
    cursor: pointer;
    transform: scale(1);
    transition: all 0.2s;
    overflow: hidden;
}

.y-s4-tab-active,
.y-s4-tab:hover {
    border: 2px solid #e9686b;
}

.y-s4-tab:hover {
    box-shadow: 0 0 1rem #87CEEB;
    z-index: 1;

    transform: scale(1.1);
}

.y-s4-tab img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.y-s4-text {
    width: 40%;
    flex-basis: 40%;
    box-sizing: border-box;
    text-align: right;
    font-family: '微软雅黑', sans-serif;
}

@media (max-width: 768px) {
    .y-s4-text {
        width: fit-content;
        margin: 0 auto;
        flex-basis: 50%;
    }
}

.y-s4-text-title {
    color: #e9686b;
    font-family: '幼圆', '微软雅黑', sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin: 0;
    margin-right: 4rem;
}


@media (max-width: 1024px) {
    .y-s4-text-title {
        font-size: 3rem;
    }
}

.y-s4-text-subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-right: 1rem;
}

.y-s4-text a {
    text-decoration: none;
    color: #4169E1;
    transition: all 0.2s;
}

.y-s4-text a:hover {
    text-shadow: 0 0 1rem #87CEEB;
}

.y-s4-text-links a {
    margin-right: 2rem;
    font-weight: bold;
}

/* test */
/* #y-s2,#y-s4 {
    background-color: #00ffff;
} */

/* mincho */
.y-font-mincho {
    font-family: 'MS PMincho', 'MS Mincho';
}