/* basic */

body {
    font-family: "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB", sans-serif;
    font-weight: 300;
    margin: 0;
}

a {
    text-decoration: none;
    color: #e9686b;
    font-weight: 400;
    transition: all 0.5s;
}

a:hover {
    color: #ffc7c8;
}

[v-cloak]{/* vue */
    display: none
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* container */
@media screen and (min-width: 576px) {
.y-container {
    max-width: 540px;
}}
@media screen and (min-width: 768px) {
.y-container {
    max-width: 720px;
}}
@media screen and (min-width: 992px) {
.y-container {
    max-width: 960px;
}}
@media screen and (min-width: 1200px) {
.y-container {
    max-width: 1140px;
}}
@media screen and (min-width: 1400px) {
    .y-container {
        max-width: 1320px;
    }
}

.y-container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

/* row */
.y-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex: 1 0 100%;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
.y-row>* {
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x)/ 2);
    padding-left: calc(var(--bs-gutter-x)/ 2);
    margin-top: var(--bs-gutter-y);
}

/* top */

.y-top {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.y-ptitle {
    font-size: calc(1.625rem + 4.5vw);
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
}
@media screen and (min-width: 1200px) {
    .y-ptitle {
        font-size: 5rem;
}}

.y-subtitle {
    font-size: calc(1.3rem + .6vw);
    margin-top: 0;
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}
@media screen and (min-width: 1200px) {
    .y-subtitle {
        font-size: 1.75rem;
}}


/* divider */

.y-divider {
    background-color: rgba(0, 0, 0, .12);
    height: 1px;
    margin: -1px 0 0 0;
    border: none;
}

.y-border-right {
    border-right: none;
}

@media (min-width: 768px) {
    .y-border-right {
        border-right: 1px solid rgba(0, 0, 0, .12);
    }
}


/* content */

.y-congird {
    display: grid;
    grid-template-columns: 1fr 1fr;/* 2列 */
    grid-template-rows: auto;/* 行数不定 */
    gap: 1.5rem;/* 间隙 */
}
@media (max-width: 768px) {
    .y-congird {
        grid-template-columns: 1fr;/* 1列 */
    }
}


.y-content {
    margin-bottom: 3rem;
}


/* ul */

ul.y-ul {
    list-style-type: none;
}

ul.y-ul .y-tips {
    margin-right: .2rem;
    font-weight: bolder;
}


/* title */

.y-title {
    font-size: calc(1.275rem + .3vw);
    text-align: center;
    margin-top: 0;
    margin-bottom: 1rem;
    font-weight: 800;
    line-height: 1.2;
}
@media screen and (min-width: 1200px) {
    .y-title {
        font-size: 1.5rem;
}}

/* footer */

.y-footer {
    text-align: center;
    margin-bottom: 2rem;
}

.y-footer a {
    font-weight: 300;
}


/* logo */

img.y-logo {
    width: 8rem;
    height: 8rem;
    padding: 0 0;
    border-radius: 3rem;
    margin-right: 2rem;
    vertical-align: middle;
}

@media screen and (max-width: 480px) {
    img.y-logo {
        width: 3rem;
        height: 3rem;
        margin-right: 0;
    }
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.y-rorate{
    animation: rotation 10s linear infinite;
}

.y-icon-svg {
    vertical-align: text-bottom;
    width: 1.5em;
    height: 1.5em;
}

.y-links {
    font-size: 0.8rem;
}

.y-ctr { /* 箱容器 */
    display: grid;
    grid-template-columns: repeat(3,1fr);/* 3列 */
    /* grid-template-columns: repeat(auto-fill, minmax(8rem,1fr)); */ /* 多列 */
    grid-template-rows: repeat(auto-fill, minmax(100px,1fr));/* 行数不定 */
    gap: 0.8rem;/* 间隙 */
}

@media screen and (max-width: 480px) {
    .y-ctr {
        grid-template-columns: repeat(2,1fr);/* 移动端只分2列 */
    }
}

.y-box {/* 箱内容 */
    position: relative;
    height: 100%;
    border-radius: 5px;/* 圆角边框 */
    overflow: hidden;
    box-shadow: 1px 1px 1px #888888;/* 阴影效果 */
    background-color: rgb(255, 251, 252);
}

.y-box .y-date {/* 日期 */
    top: 0;
    left: 0;
    font-size: 0.6rem;
    padding: .3rem .75rem;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    border-radius: 4px 0 0 0;
    color: #eee;
}

.y-box .y-box-ct {/* 箱内含 */
    height: 100%;
}

.y-box img {/* 箱图片 */
    display: block;
    object-fit: cover;
    width: 100%;
    height: 8rem;
}

.y-box .y-box-text {/* 箱文本 */
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
}

.y-more {/* 加载更多 按钮 */
    text-align: center;
}