<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>一如's World.</title>
    <base target="_blank" />
    <!-- bootstrap -->
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.4.2/cjs/popper.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/5.0.0-alpha1/js/bootstrap.min.js"></script>

    <!-- axios -->
    <!-- <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.19.2/axios.min.js"></script> -->

    <!-- vue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>

    <!-- markdown-it -->
    <script src="https://cdn.bootcdn.net/ajax/libs/markdown-it/11.0.0/markdown-it.min.js"></script>

    <!-- style -->
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <!-- top -->
            <div class="row">
                <div class="y-top">
                    <h1 class="display-1"><img class="y-logo" src="./img/tem.jpg">Yi Ru</h1>
                    <h3>— 更上一层楼 —</h3>
                    <p>Last Update: {{ data.updateTime | daf }}</p>
                </div>
            </div>
            <div class="y-divider" style="margin-bottom: 1rem;"></div>

            <!-- content -->
            <div class="row">
                <div v-for="(c, i) in data.content" :class="{
                    'col-md-6': true,
                    'y-content': true,
                    'y-border-right': i%2==0 /* 索引为偶数时, 出现右边框 */
                }">
                    <h4 class="y-title">{{ c.title }}</h4>
                    <ul class="y-ul">
                        <li v-for="(li, j) in c.list">
                            <span class="y-tips" :title="daf(li.updateTime)" :style="{
                                color: cacStyle(li.updateTime)
                            }">&gt;</span>
                            <span v-html="li.content"></span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="y-divider" style="margin-bottom: 1rem;"></div>

            <!-- links -->
            <div class="row">
                <div class="y-footer">
                    Links: <a href="https://github.com/ctem049" target="_blank">GitHub@ctem049</a> | <a href="http://www.congchiang.xyz/bg" target="_blank">JC World</a> 
                </div>
            </div>

            <!-- footer -->
            <div class="row">
                <div class="y-footer">
                    &copy; <a href="https://github.com/ctem049" target="_blank">ctem049</a> · <a href="https://github.com/ctem049/ctem049.github.io/commits/master/md/data.md" target="_blank">History</a> · <a href="mailto:ctem049@tutanota.com">Contact</a>
                </div>
            </div>
        </div>
    </div>
    <!-- util -->
    <script src="./js/util.js"></script>
    <!-- load data -->
    <script src="./js/data.js"></script>
    <!-- main javascript -->
    <script src="./js/main.js"></script>
</body>

</html>