/* init */
body {
    font-family: "Microsoft Yahei", "PingFang SC", "Hiragino Sans GB", sans-serif;
    margin: 0;
    padding: 0;
}

/* section */
.y-section {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

/* section 1 */

#y-s1-1 {
    width: 100vw;
    height: 50vh;
    position: relative;
}

.y-center {
    width: fit-content;
    height: fit-content;
    position: absolute;
    bottom: 0;right: 0;left: 0;
    margin: 0 auto;
}

/* logo */
.y-logo {
    padding-right: 1rem;
}
.y-logo-img {
    width: 10rem;
    height: 10rem;
    padding: 0 0;
    border-radius: 3rem;
    margin-right: 2rem;
    vertical-align: middle;
    display: inline;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.y-rorate {
    animation: rotation 10s linear infinite;
}

/* ptitle */
.y-ptitle {
    display: inline;
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: .5rem;
    vertical-align: middle;
}

/* social */
.y-social {
    width: fit-content;
    height: fit-content;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
}
.y-social a {
    text-decoration: none;
    color: #e9686b;
    font-weight: 400;
    transition: all 0.5s;
    padding: 0 .2rem;
}
.y-social a:hover {
    color: #ffc7c8;
}
.y-social-text {
    vertical-align: middle;
}
.y-icon-svg {
    vertical-align: middle;
    width: 1.5em;
    height: 1.5em;
}

/* tags */

#y-s1-2 {
    height: 50vh;
    position: relative;
}

.y-tags {
    width: calc(100% - 10rem);
    height: fit-content;
    position:absolute;
    top:5rem;left:0;right:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}

.y-tag {
    font-family: "幼圆";
    font-size: 4rem;
    font-weight: 400;
    margin: 0 auto;
}

.y-tag a{
    text-decoration: none;
    color: #4169E1;
    transition: all 0.5s;
}
.y-tag a:hover {
    text-shadow: 0 0 1rem #87CEEB;
}

@keyframes swing {
    from {
        font-size: 4rem;
    }
    to {
        font-size: 7rem;
    }
}

.y-tag a {
    animation: swing 5s ease-in-out infinite alternate-reverse;
    animation-play-state: running;
}
.y-tag a:hover {
    animation-play-state: paused;
}