<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yiru's PlayList</title>
    <!-- vue -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <!-- crypto -->
    <script src="https://cdn.bootcdn.net/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <!-- aplayer -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css">
    <style>
        :root {
            --c-hlight: pink;
        }

        .container {
            max-width: 1280px;
            margin: 0 auto;
        }

        .form {
            max-width: 20rem;
            margin: 0 auto;
        }

        .plname {
            cursor: pointer;
            transition: 0.5s;
        }

        .plname:hover {
            color: var(--c-hlight);
        }

        .playlists {
            display: grid;
            grid-gap: 4px;
            grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        }

        .inputpass {
            max-width: 8rem;
        }
    </style>
</head>

<body>

    <div class="container">
        <div id="aplayer" style="max-width: 1080px; margin: 0 auto;"></div>
        <div id="app">
            <div class="form">PassWord: <input class="inputpass" v-model="pass" type="password"> <span
                    v-if="passtest">√</span>
                <select v-model="sor">
                    <option v-for="o in this.urls" :value="o.title">{{o.title}}</option>
                </select>
            </div>
            <div class="playlists">
                <div v-for="pl in playlists" v-key="pl.name" class="playlist">
                    <h3 class="plname" @click="play(pl.content)">{{ pl.name }}</h3>
                    <ul>
                        <li v-for="mu in pl.content">
                            {{ mu }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="./playlist.js"></script>
    <!-- APlayer -->
    <script src="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.js"></script>
    <script>
        var debug
        const ap = new APlayer({
            container: document.getElementById('aplayer'),
            audio: [],
            customAudioType: {
                customFlac(audioElement, audio, player) {
                    audioElement.src = audio.url
                    debug = audioElement
                    console.log(audioElement, audio, player)
                }
            }
        });
    </script>
    <script>
        var uenc = [{ "title": "inr", "pre": "U2FsdGVkX193ctHoXYQwS6J+G/t16KrwtwQPY470cjz2c8TOfWEtPuIYpT/RfUGTSgTYwU+MA2exKAD21+Yui9/tbeeSZvTdjZV4TkkZrr6b3j9YYdWQOxHzX6BXeBpO", "suf": "U2FsdGVkX1+xs1tuZqrNb7BChPMrXl4MGnESHMdjsgU=" }, { "title": "inp", "pre": "U2FsdGVkX19VML8KZ2Zv+qFdkOEEHl8haAGLm0CwnSC+f0Avtz+HRyQXBFYgGPuXjlJeNzbIJa2yDObEQp7IH8uX1OkyxMFdK+uV+1xFYP+haJr/yskD5ww1aXugynk1", "suf": "U2FsdGVkX1/2pmNQtx0xxb9l0Einb8lNF4XFbXNXwhV/wMrxL5pYZWqfPz7Akr2L" }, { "title": "iai", "pre": "U2FsdGVkX1+qXukInzBLvKsRkaXk12geJS1vD71q2aWqz0+TUShzzeyka2hlO2ix", "suf": "U2FsdGVkX19KbxhnPBAo4eb81nhexkjkSdMK5tNVVTA=" }];
        var app = new Vue({
            el: "#app",
            data: {
                passmd5: '9320411ffacc73ab423fa4b2e8903b74',
                urls: [],
                pass: '',
                deced: false,
                playlists: playlists,
                sor: ''
            },
            methods: {
                dec() {
                    uenc.map(v => {
                        if (v.suf != "") v.suf = CryptoJS.AES.decrypt(v.suf, this.pass).toString(CryptoJS.enc.Utf8);
                        if (v.pre != "") v.pre = CryptoJS.AES.decrypt(v.pre, this.pass).toString(CryptoJS.enc.Utf8);
                    })
                    this.urls = uenc;
                    this.sor = this.urls[0].title;
                },
                play(playlist) {
                    if (!this.deced) return false
                    var appl = []
                    var pre = this.urls.filter(v => v.title == this.sor)[0].pre
                    var suf = this.urls.filter(v => v.title == this.sor)[0].suf
                    playlist.map(v => {
                        appl.push({ name: v, url: pre + encodeURI(v) + suf })
                    })
                    ap.list.clear()
                    ap.list.add(appl);
                }
            },
            computed: {
                passtest() {
                    if (this.deced) return true
                    if (CryptoJS.HmacMD5(this.pass, "ctem049") == this.passmd5) {
                        if (!this.deced) {
                            this.dec()
                            this.deced = true
                            this.pass = ''
                        }
                        return true;
                    } else {
                        return false
                    }
                }
            }
        });
    </script>
</body>

</html>