<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OnO's tool</title>
    <!-- vue -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <!-- style -->
    <link rel="stylesheet" href="style.tool.css">
    <!-- Crypto -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/crypto-js@4.1.1/crypto-js.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/crypto-js@4.1.1/crypto-js.js"></script>
</head>

<body>
    <div class="y-container">
        <div id="app">
            <div class="y-block">
                <h2>Timestamp 时间戳</h2>
                <button @click="timenow">Now</button> 时间戳: <input type="text" @input="timechange(true)"
                    v-model="times"><span>&lt;-&gt;</span> 时间: <input type="text" @input="timechange(false)"
                    v-model="timef">
            </div>
            <div class="y-block" id="y-encode">
                <h2>Encode 编码转换 (UTF-8)</h2>
                String: <textarea @input="enChange('string')" v-model="enString" ols="30" rows="10"></textarea>
                Base64: <textarea @input="enChange('b64')" v-model="enB64" ols="30" rows="10"></textarea>
                Hex: <textarea @input="enChange('hex')" v-model="enHex" ols="30" rows="10"></textarea>
                UrlEncode: <textarea @input="enChange('url')" v-model="enUE" ols="30" rows="10"></textarea>
                Unicode(&#): <textarea @input="enChange('unicode')" v-model="enUni" ols="30" rows="10"></textarea>
                Unicode(\u): <textarea @input="enChange('unicode2')" v-model="enUni2" ols="30" rows="10"></textarea>
            </div>
            <div class="y-block" id="y-hash">
                <h2>Hash 哈希函数</h2>
                MD5: <textarea v-model="haMD5"></textarea> SHA-1: <textarea v-model="haSHA1"></textarea> SHA-256:
                <textarea v-model="haSHA256"></textarea> SHA-512: <textarea v-model="haSHA512"></textarea>
            </div>
            <div class="y-block" id="y-pass">
                <h2>Pass 随机密码生成器</h2>
                <input v-model="paNum" type="checkbox">数字
                <input v-model="paLow" type="checkbox">小写字母
                <input v-model="paUp" type="checkbox">大写字母
                <input v-model="paSpc" type="checkbox">特殊符号!@#$%^&*
                <input v-model="paLen" type="text" style="width: 2em;">位
                <button @click="paGen">生成</button>
                <textarea v-model="paString"></textarea>
            </div>
            <div class="y-block" id="y-bvav">
                <h2>BVAV bv号与av号转换</h2>
                BV号: <input type="text" @input="bvchange(true)" v-model="bvBv"><span>&lt;-&gt;</span> AV号: <input
                    type="text" @input="bvchange(false)" v-model="bvAv">
            </div>
        </div>
    </div>
    <!-- util -->
    <script>
        Date.prototype.format = function (fmt) {
            var o = {
                "M+": this.getMonth() + 1, //月份
                "d+": this.getDate(), //日
                "h+": this.getHours(), //小时
                "m+": this.getMinutes(), //分
                "s+": this.getSeconds(), //秒
                "q+": Math.floor((this.getMonth() + 3) / 3), //季度
                "S": this.getMilliseconds() //毫秒
            };
            if (/(y+)/.test(fmt)) fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o)
                if (new RegExp("(" + k + ")").test(fmt)) fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            return fmt;
        }
    </script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                timeo: new Date(),
                times: '',
                timef: '',
                enString: '',
                enB64: '',
                enHex: '',
                enUE: '',
                enUni: '',
                enUni2: '',
                haMD5: '',
                haSHA1: '',
                haSHA256: '',
                haSHA512: '',
                paNum: true,
                paLow: true,
                paUp: true,
                paSpc: false,
                paLen: 12,
                paString: '',
                bvBv: '',
                bvAv: ''
            },
            methods: {
                init() {
                    this.timeupdate()
                },
                timenow() {
                    this.timeo = new Date()
                    this.timeupdate()
                },
                timeupdate() {
                    this.times = this.timeo.getTime().toString()
                    this.timef = this.timeo.format('yyyy-MM-dd hh:mm:ss')
                },
                timechange(dire) {
                    if (dire) {
                        this.timeo.setTime(parseInt(this.times))
                        this.timef = this.timeo.format('yyyy-MM-dd hh:mm:ss')
                    } else {
                        this.timeo = new Date(this.timef)
                        this.times = this.timeo.getTime().toString()
                    }
                },
                enChange(type) {
                    // decoder
                    if (type == 'string') {
                        this.eno = CryptoJS.enc.Utf8.parse(this.enString)
                    } else if (type == 'b64') {
                        this.eno = CryptoJS.enc.Base64.parse(this.enB64)
                    } else if (type == 'hex') {
                        this.eno = CryptoJS.enc.Hex.parse(this.enHex)
                    } else if (type == 'url') {
                        this.eno = CryptoJS.enc.Utf8.parse(decodeURIComponent(this.enUE))
                    } else if (type == 'unicode') {
                        this.eno = this.enUni.replace(/&#(\d+);/g, (match, dec) => String.fromCharCode(dec))
                    } else if (type == 'unicode2') {
                        this.eno = unescape(this.enUni2.replace(/\\/g, "%"))
                    }

                    // encoder
                    try {
                        if (type != 'string')
                            this.enString = CryptoJS.enc.Utf8.stringify(this.eno)
                        if (type != 'url')
                            this.enUE = encodeURIComponent(this.enString)
                        if (type != 'unicode') {
                            this.enUni = (function (str) {
                                let buf = [];
                                for (let i = str.length - 1; i >= 0; i--) {
                                    buf.unshift(['&#', str[i].charCodeAt(), ';'].join(''));
                                }
                                return buf.join('')
                            })(this.enString)
                        }
                        if (type != 'unicode2') {
                            this.enUni2 = (function (str) {
                                let a = []
                                for (let i = 0; i < str.length;) a[i] = ("00" + str.charCodeAt(i++).toString(16)).slice(- 4);
                                return "\\u" + a.join("\\u")
                            })(this.enString)
                        }
                    } catch (e) {
                        if (type != 'string') this.enString = e
                        if (type != 'url') this.enUE = e
                    }
                    if (type != 'hex')
                        this.enHex = CryptoJS.enc.Hex.stringify(this.eno)
                    if (type != 'b64')
                        this.enB64 = CryptoJS.enc.Base64.stringify(this.eno)
                    this.haUpdate()
                },
                haUpdate() {
                    this.haMD5 = CryptoJS.MD5(this.eno).toString()
                    this.haSHA1 = CryptoJS.SHA1(this.eno).toString()
                    this.haSHA256 = CryptoJS.SHA256(this.eno).toString()
                    this.haSHA512 = CryptoJS.SHA512(this.eno).toString()
                },
                /**
                 * 生成随机密码
                 */
                paGen() {
                    // 设定字符集
                    const csNum = '123456789'
                    const csLow = 'abcdefghijkmnopqrstuvwxyz'
                    const csUp = 'ABCDEFGHJKLMNPQRSTUVWXYZ'
                    const csSpc = '!@#$%^&*'
                    var cs = '' + (this.paNum ? csNum : '') + (this.paLow ? csLow : '') + (this.paUp ? csUp : '') + (this.paSpc ? csSpc : '')
                    if (cs.length == 0) {
                        // 如果没有选取字符集，返回
                        this.paString = ''
                        return
                    }
                    var pa = ''
                    for (var i = 0; i < this.paLen; i++) {
                        pa += cs[this.RandomMinMax(0, cs.length)]
                    }
                    this.paString = pa
                },
                /**
                 * 生成随机数 min<=x<max
                 */
                RandomMinMax(Min, Max) {
                    var Range = Max - Min;
                    var Rand = Math.random();
                    var num = Min + Math.floor(Rand * Range); //舍去
                    return num;
                },
                bvchange(type) {
                    var value
                    if (type) {
                        var patt = /bv[\w]+/i
                        var ex = patt.exec(this.bvBv) // 匹配bv号
                        if (ex == null) { this.bvAv = 'av' } else {
                            this.bvAv = this.bvavc(ex[0], type)
                        }
                    } else {
                        if (!/^\d+$/.test(this.bvAv)) { // 是否纯数字
                            var patt = /(?<=av)\d+/i
                            var ex = patt.exec(this.bvAv) // 匹配av号
                            if (ex == null) { this.bvBv = 'BV' } else {
                                this.bvBv = this.bvavc(ex[0], type)
                            }
                        } else {
                            this.bvBv = this.bvavc(this.bvAv, type) // 纯数字直接转换
                        }
                    }
                },

                /**
                 * bv号转av号
                 * @param type true为bv转av dec 
                 */
                bvavc(x, type = true) {
                    const table = 'fZodR9XQDSUm21yCkr6zBqiveYah8bt4xsWpHnJE7jL5VG3guMTKNPAwcF'
                    const tr = table.split('').reduce(
                        (pre, v, i) => {
                            pre[table[i]] = BigInt(i)
                            return pre
                        }, []
                    )
                    let s = [11, 10, 3, 8, 4, 6].map(i => BigInt(i))
                    let xor = BigInt(177451812);
                    let add = BigInt(8728348608)
                    const NUM_58 = BigInt(58)
                    if (type) {
                        try {
                            let r = BigInt(0);
                            for (let i = 0; i < 6; i++) {
                                r += tr[x[s[i]]] * NUM_58 ** BigInt(i);
                            }
                            let res = (r - add) ^ xor
                            return 'av' + res.toString();
                        }
                        catch (e) {
                            console.log(e)
                            return 'av'
                        }
                    } else {
                        try {
                            x = BigInt(x)
                            x = (x ^ xor) + add
                            let r = 'BV1  4 1 7  '.split('')
                            for (let i = 0; i < 6; i++) {
                                r[s[i]] = table[x / NUM_58 ** BigInt(i) % NUM_58]
                            }
                            return r.join('')
                        }
                        catch (e) {
                            console.log(e)
                            return 'BV'
                        }
                    }
                }
            },
            watch: {},
            mounted() {
                this.init()
            }
        })
    </script>
</body>

</html>